<template>
  <div id="app" class="fillcontain" style="height:100%">
    <router-view></router-view>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  watch: {
    "user.login"() {
      this.onChangeLogin();
    }
  },
  computed: {
    ...mapState(["user"])
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.onChangeLogin();
    },
    onChangeLogin() {
      this.$store.dispatch("user/findUser");
    }
  }
};
</script>

<style lang="scss">
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.asc {
  align-self: center;
}
.fdc {
  flex-direction: column;
}
</style>
