<template>
  <md-card>
    <md-card-content>
      <div ref="chart"
           id="visitorpie"
           style="width: 90%;height:450px;"></div>
    </md-card-content>
  </md-card>
</template>

<script>
import echarts from 'echarts/lib/echarts';
// 引入柱状图
import 'echarts/lib/chart/pie';
import 'echarts/lib/component/title';
import 'echarts/lib/component/legend';

export default {
  mounted() {
    this.init();
  },
  props: ['pieData'],
  methods: {
    init() {
      this.onChangePieData();
    },
    initChart() {
      const option = {
        title: {
          text: '用户分布',
          subtext: '',
          x: 'center',
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)',
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          data: ['北京', '上海', '深圳', '杭州', '其他'],
        },
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [
              { value: this.pieData.beijing, name: '北京' },
              { value: this.pieData.shanghai, name: '上海' },
              { value: this.pieData.shenzhen, name: '深圳' },
              { value: this.pieData.hangzhou, name: '杭州' },
              { value: this.pieData.qita, name: '其他' },
            ],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)',
              },
            },
          },
        ],
      };
      echarts.init(this.$refs.chart).setOption(option);
    },
    onChangePieData() {
      this.initChart();
    },
  },
  watch: {
    pieData: function() {
      this.onChangePieData();
    },
  },
};
</script>

<style lang="scss">
</style>
