<template>
  <div class="panel-addgoods df aic jcc fdc" style="height:100%;widht:100%">
    <md-card style="width:320px">
      <md-card-header>
        <div class="md-title">选择商品种类</div>
      </md-card-header>
      <md-card-content>
        <md-field>
          <label for="cate">商品分类</label>
          <md-select v-model="onCate" name="cate" id="cate" v-if="formCate.categoryList.length">
            <md-option v-for="item in formCate.categoryList" :key="item.value" :value="item.value">{{item.label}}</md-option>
          </md-select>
        </md-field>
        <md-field :class="{'md-invalid':$v.formCate.name.$error}">
          <label>name</label>
          <md-input v-model="$v.formCate.name.$model"></md-input>
          <div class="md-error" v-if="$v.formCate.name.$dirty && !$v.formCate.name.required">必须输入</div>
        </md-field>
        <md-field :class="{'md-invalid':$v.formCate.description.$error}">
          <label>description</label>
          <md-input v-model="$v.formCate.description.$model"></md-input>
          <div class="md-error" v-if="$v.formCate.description.$dirty && !$v.formCate.description.required">必须输入</div>
        </md-field>
      </md-card-content>
      <md-card-actions>
        <md-button @click="addCate()">添加食品种类</md-button>
      </md-card-actions>
    </md-card>
    <br />
    <md-card style="width:320px">
      <md-card-header>
        <div class="md-title">添加商品</div>
      </md-card-header>
      <md-card-content>
        <md-field :class="{'md-invalid':$v.formGood.name.$error}">
          <label>食品名称</label>
          <md-input v-model="$v.formGood.name.$model"></md-input>
          <div class="md-error" v-if="$v.formGood.name.$dirty && !$v.formGood.name.required">必须输入</div>
        </md-field>
        <md-field :class="{'md-invalid':$v.formGood.activity.$error}">
          <label>食品活动</label>
          <md-input v-model="$v.formGood.activity.$model"></md-input>
          <div class="md-error" v-if="$v.formGood.activity.$dirty && !$v.formGood.activity.required">必须输入</div>
        </md-field>
        <md-field :class="{'md-invalid':$v.formGood.description.$error}">
          <label>食品详情</label>
          <md-input v-model="$v.formGood.description.$model"></md-input>
          <div class="md-error" v-if="$v.formGood.description.$dirty && !$v.formGood.description.required">必须输入</div>
        </md-field>
        <p>upload</p>
        <md-field>
          <label for="cate">食品特点</label>
          <md-select v-model="onCate" name="cate" id="cate" v-if="formCate.categoryList.length">
            <md-option v-for="item in formGood.attributes" :key="item.value" :value="item.value">{{item.label}}</md-option>
          </md-select>
        </md-field>
        <div>
          <md-radio v-model="goodFeature" value="one">单规格</md-radio>
          <md-radio v-model="goodFeature" value="more">多规格</md-radio>
        </div>
        <md-field :class="{'md-invalid':$v.formGood.price.$error}">
          <label>价格</label>
          <md-input v-model="$v.formGood.price.$model"></md-input>
          <div class="md-error" v-if="$v.formGood.price.$dirty && !$v.formGood.price.required">必须输入</div>
        </md-field>
        <md-field :class="{'md-invalid':$v.formGood.description.$error}">
          <label>食品详情</label>
          <md-input v-model="$v.formGood.description.$model"></md-input>
          <div class="md-error" v-if="$v.formGood.description.$dirty && !$v.formGood.description.required">必须输入</div>
        </md-field>
      </md-card-content>
      <md-card-actions>
        <md-button @click="delGood()">删除</md-button>
        <md-button @click="addGood()">添加</md-button>
      </md-card-actions>
    </md-card>
    <br />
    <md-card style="width:320px">
      <md-card-header>
        <div class="md-title">添加规格</div>
      </md-card-header>
      <md-card-content>
        <md-field :class="{'md-invalid':$v.formFeature.specs.$error}">
          <label>规格</label>
          <md-input v-model="$v.formFeature.specs.$model"></md-input>
          <div class="md-error" v-if="$v.formFeature.specs.$dirty && !$v.formFeature.specs.required">必须输入</div>
        </md-field>
        <md-field :class="{'md-invalid':$v.formFeature.packing_fee.$error}">
          <label>包装费</label>
          <md-input v-model="$v.formFeature.packing_fee.$model"></md-input>
          <div class="md-error" v-if="$v.formFeature.packing_fee.$dirty && !$v.formFeature.packing_fee.required">必须输入</div>
        </md-field>
        <md-field :class="{'md-invalid':$v.formFeature.price.$error}">
          <label>价格</label>
          <md-input v-model="$v.formFeature.price.$model"></md-input>
          <div class="md-error" v-if="$v.formFeature.price.$dirty && !$v.formFeature.price.required">必须输入</div>
        </md-field>
      </md-card-content>
      <md-card-actions>
        <md-button @click="delFeature()">取消</md-button>
        <md-button @click="addFeature()">确认</md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>

<script>
import headTop from "@/components/headTop";
import { getCategory, addCategory, addFood } from "@/api/getData";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
const touchMap = new WeakMap();
export default {
  validations: {
    formCate: {
      categoryList: {
        required
      },
      categorySelect: {
        required
      },
      name: {
        required
      },
      description: {
        required
      }
    },
    formGood: {
      name: {
        required
      },
      description: {
        required
      },
      image_path: {
        required
      },
      activity: {
        required
      },
      attributes: {
        required
      },
      specs: {
        required
      },
      price: {
        required
      }
    },
    formFeature: {
      specs: {
        required
      },
      packing_fee: {
        required
      },
      price: {
        required
      }
    }
  },
  data() {
    return {
      onCate: "",
      goodFeature: "",
      formCate: {
        categoryList: [
          {
            label: "aaa",
            value: "1"
          },
          {
            label: "bbbb",
            value: "2"
          }
        ],
        categorySelect: "",
        name: "",
        description: ""
      },
      formGood: {
        name: "",
        description: "",
        image_path: "",
        activity: "",
        attributes: [],
        specs: [
          {
            specs: "默认",
            packing_fee: 0,
            price: 20
          }
        ],
        price: ""
      },
      formFeature: {
        specs: "",
        packing_fee: 0,
        price: 20
      }
    };
  },
  components: {
    headTop
  },
  created() {
    if (this.$route.query.restaurant_id) {
      this.restaurant_id = this.$route.query.restaurant_id;
    } else {
      this.restaurant_id = Math.ceil(Math.random() * 10);
      // this.$msgbox({
      //   title: "提示",
      //   message: "添加食品需要选择一个商铺，先去就去选择商铺吗？",
      //   showCancelButton: true,
      //   confirmButtonText: "确定",
      //   cancelButtonText: "取消",
      //   beforeClose: (action, instance, done) => {
      //     if (action === "confirm") {
      //       this.$router.push("/shopList");
      //       done();
      //     } else {
      //       this.$message({
      //         type: "info",
      //         message: "取消"
      //       });
      //       done();
      //     }
      //   }
      // });
    }
    // this.initData();
  },
  computed: {
    selectValue: function() {
      return (
        this.categoryForm.categoryList[this.categoryForm.categorySelect] || {}
      );
    }
  },
  mounted() {
    this.init();
  },
  methods: {
    async init() {
      await this.initCategory();
    },
    async initCategory() {
      // const res = await this.$store.dispatch("selectCategory");
    },
    //添加分类
    async addCate() {
      const res = await this.$store.dispatch("good/addCategory", {
        restaurant_id: "sdfdsf",
        description: this.formCate.description,
        name: this.formCate.name
      });
      if (200 === res.code) {
        alert("success");
      }
    },
    async initData() {
      try {
        const result = await getCategory(this.restaurant_id);
        if (result.status == 1) {
          result.category_list.map((item, index) => {
            item.value = index;
            item.label = item.name;
          });
          this.categoryForm.categoryList = result.category_list;
        } else {
          console.log(result);
        }
      } catch (err) {
        console.log(err);
      }
    },
    addCategoryFun() {
      this.showAddCategory = !this.showAddCategory;
    },
    submitcategoryForm(categoryForm) {
      this.$refs[categoryForm].validate(async valid => {
        if (valid) {
          const params = {
            name: this.categoryForm.name,
            description: this.categoryForm.description,
            restaurant_id: this.restaurant_id
          };
          try {
            const result = await addCategory(params);
            if (result.status == 1) {
              this.initData();
              this.categoryForm.name = "";
              this.categoryForm.description = "";
              this.showAddCategory = false;
              this.$message({
                type: "success",
                message: "添加成功"
              });
            }
          } catch (err) {
            console.log(err);
          }
        } else {
          this.$notify.error({
            title: "错误",
            message: "请检查输入是否正确",
            offset: 100
          });
          return false;
        }
      });
    },
    uploadImg(res, file) {
      if (res.status == 1) {
        this.foodForm.image_path = res.image_path;
      } else {
        this.$message.error("上传图片失败！");
      }
    },
    beforeImgUpload(file) {
      const isRightType =
        file.type === "image/jpeg" || file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isRightType) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isRightType && isLt2M;
    },
    addspecs() {
      this.foodForm.specs.push({ ...this.specsForm });
      this.specsForm.specs = "";
      this.specsForm.packing_fee = 0;
      this.specsForm.price = 20;
      this.dialogFormVisible = false;
    },
    handleDelete(index) {
      this.foodForm.specs.splice(index, 1);
    },
    tableRowClassName(row, index) {
      if (index === 1) {
        return "info-row";
      } else if (index === 3) {
        return "positive-row";
      }
      return "";
    },
    addFood(foodForm) {
      this.$refs[foodForm].validate(async valid => {
        if (valid) {
          const params = {
            ...this.foodForm,
            category_id: this.selectValue.id,
            restaurant_id: this.restaurant_id
          };
          try {
            const result = await addFood(params);
            if (result.status == 1) {
              console.log(result);
              this.$message({
                type: "success",
                message: "添加成功"
              });
              this.foodForm = {
                name: "",
                description: "",
                image_path: "",
                activity: "",
                attributes: [],
                specs: [
                  {
                    specs: "默认",
                    packing_fee: 0,
                    price: 20
                  }
                ]
              };
            } else {
              this.$message({
                type: "error",
                message: result.message
              });
            }
          } catch (err) {
            console.log(err);
          }
        } else {
          this.$notify.error({
            title: "错误",
            message: "请检查输入是否正确",
            offset: 100
          });
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss">
.form {
  min-width: 400px;
  margin-bottom: 30px;
  &:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6),
      0 2px 4px 0 rgba(232, 237, 250, 0.5);
    border-radius: 6px;
    transition: all 400ms;
  }
}
.food_form {
  border: 1px solid #eaeefb;
  padding: 10px 10px 0;
}
.form_header {
  text-align: center;
  margin-bottom: 10px;
}
.category_select {
  border: 1px solid #eaeefb;
  padding: 10px 30px 10px 10px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.add_category_row {
  height: 0;
  overflow: hidden;
  transition: all 400ms;
  background: #f9fafc;
}
.showEdit {
  height: 185px;
}
.add_category {
  background: #f9fafc;
  padding: 10px 30px 0px 10px;
  border: 1px solid #eaeefb;
  border-top: none;
}
.add_category_button {
  text-align: center;
  line-height: 40px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #eaeefb;
  border-top: none;
  transition: all 400ms;
  &:hover {
    background: #f9fafc;
    span,
    .edit_icon {
      color: #20a0ff;
    }
  }
  span {
    transition: all 400ms;
  }
  .edit_icon {
    color: #ccc;
    transition: all 400ms;
  }
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #20a0ff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.avatar {
  width: 120px;
  height: 120px;
  display: block;
}
.cell {
  text-align: center;
}
</style>
