<template>
  <div>
    <div class="panel-addshop df aic jcc" style="height:100%;widht:100%">

      <md-card style="width:320px">

        <md-card-header>
          <div class="md-title">后台管理系统</div>
        </md-card-header>

        <md-card-content>
          <md-field :class="{'md-invalid':$v.form.name.$error}">
            <label>name</label>
            <md-input v-model="$v.form.name.$model"></md-input>
            <div class="md-error" v-if="$v.form.name.$dirty && !$v.form.name.required">必须输入</div>
          </md-field>

          <md-field>
            <label>address</label>
            <md-input v-model="$v.form.address.$model"></md-input>
          </md-field>

          <md-field>
            <label>latitude</label>
            <md-input v-model="$v.form.latitude.$model"></md-input>
          </md-field>

          <md-field>
            <label>longitude</label>
            <md-input v-model="$v.form.longitude.$model"></md-input>
          </md-field>

          <md-field>
            <label>description</label>
            <md-input v-model="$v.form.description.$model"></md-input>
          </md-field>

          <md-field>
            <label>phone</label>
            <md-input v-model="$v.form.phone.$model"></md-input>
          </md-field>

          <md-field>
            <label>promotion_info</label>
            <md-input v-model="$v.form.promotion_info.$model"></md-input>
          </md-field>

          <md-field>
            <label>float_delivery_fee</label>
            <md-input v-model="$v.form.float_delivery_fee.$model"></md-input>
          </md-field>

          <md-field>
            <label>float_minimum_order_amount</label>
            <md-input v-model="$v.form.float_minimum_order_amount.$model"></md-input>
          </md-field>

          <md-checkbox v-model="$v.form.is_premium.$model">is_premium</md-checkbox>

          <md-checkbox v-model="$v.form.is_premium.$model">delivery_mode</md-checkbox>

          <md-checkbox v-model="$v.form.new.$model">new</md-checkbox>

          <md-checkbox v-model="$v.form.bao.$model">bao</md-checkbox>

          <md-checkbox v-model="$v.form.zhun.$model">zhun</md-checkbox>

          <md-checkbox v-model="$v.form.piao.$model">piao</md-checkbox>

          <md-field>
            <label>startTime</label>
            <md-input type="time" v-model="$v.form.startTime.$model"></md-input>
          </md-field>

          <md-field>
            <label>endTime</label>
            <md-input type="time" v-model="$v.form.endTime.$model"></md-input>
          </md-field>

          <md-field>
            <label>image_path</label>
            <md-input v-model="$v.form.image_path.$model"></md-input>
          </md-field>

          <md-field>
            <label>business_license_image</label>
            <md-input v-model="$v.form.business_license_image.$model"></md-input>
          </md-field>

          <md-field>
            <label>catering_service_license_image</label>
            <md-input v-model="$v.form.catering_service_license_image.$model"></md-input>
          </md-field>
        </md-card-content>
        <md-card-actions>
          <md-button @click="addShop()">登陆</md-button>
        </md-card-actions>
      </md-card>

    </div>
    <!--  <el-row style="margin-top: 20px;">
      <el-col :span="12"
              :offset="4">
        <el-form :model="formData"
                 :rules="rules"
                 ref="formData"
                 label-width="110px"
                 class="demo-formData">
          <el-form-item label="店铺名称"
                        prop="name">
            <el-input v-model="formData.name"></el-input>
          </el-form-item>
          <el-form-item label="详细地址"
                        prop="address">
            <el-autocomplete v-model="formData.address"
                             :fetch-suggestions="querySearchAsync"
                             placeholder="请输入地址"
                             style="width: 100%;"
                             @select="addressSelect"></el-autocomplete>
            <span>当前城市：{{city.name}}</span>
          </el-form-item>
          <el-form-item label="联系电话"
                        prop="phone">
            <el-input v-model.number="formData.phone"
                      maxLength="11"></el-input>
          </el-form-item>
          <el-form-item label="店铺简介"
                        prop="description">
            <el-input v-model="formData.description"></el-input>
          </el-form-item>
          <el-form-item label="店铺标语"
                        prop="promotion_info">
            <el-input v-model="formData.promotion_info"></el-input>
          </el-form-item>
          <el-form-item label="店铺分类">
            <el-cascader :options="categoryOptions"
                         v-model="selectedCategory"
                         change-on-select></el-cascader>
          </el-form-item>
          <el-form-item label="店铺特点"
                        style="white-space: nowrap;">
            <span>品牌保证</span>
            <el-switch on-text=""
                       off-text=""
                       v-model="formData.is_premium"></el-switch>
            <span>蜂鸟专送</span>
            <el-switch on-text=""
                       off-text=""
                       v-model="formData.delivery_mode"></el-switch>
            <span>新开店铺</span>
            <el-switch on-text=""
                       off-text=""
                       v-model="formData.new"></el-switch>
          </el-form-item>
          <el-form-item style="white-space: nowrap;">
            <span>外卖保</span>
            <el-switch on-text=""
                       off-text=""
                       v-model="formData.bao"></el-switch>
            <span>准时达</span>
            <el-switch on-text=""
                       off-text=""
                       v-model="formData.zhun"></el-switch>
            <span>开发票</span>
            <el-switch on-text=""
                       off-text=""
                       v-model="formData.piao"></el-switch>
          </el-form-item>
          <el-form-item label="配送费"
                        prop="float_delivery_fee">
            <el-input-number v-model="formData.float_delivery_fee"
                             :min="0"
                             :max="20"></el-input-number>
          </el-form-item>
          <el-form-item label="起送价"
                        prop="float_minimum_order_amount">
            <el-input-number v-model="formData.float_minimum_order_amount"
                             :min="0"
                             :max="100"></el-input-number>
          </el-form-item>
          <el-form-item label="营业时间"
                        style="white-space: nowrap;">
            <el-time-select placeholder="起始时间"
                            v-model="formData.startTime"
                            :picker-options="{
							start: '05:30',
							step: '00:15',
							end: '23:30'
							}">
            </el-time-select>
            <el-time-select placeholder="结束时间"
                            v-model="formData.endTime"
                            :picker-options="{
							start: '05:30',
							step: '00:15',
							end: '23:30',
							minTime: formData.startTime
							}">
            </el-time-select>
          </el-form-item>

          <el-form-item label="上传店铺头像">
            <el-upload class="avatar-uploader"
                       :action="baseUrl + '/v1/addimg/shop'"
                       :show-file-list="false"
                       :on-success="handleShopAvatarScucess"
                       :before-upload="beforeAvatarUpload">
              <img v-if="formData.image_path"
                   :src="baseImgPath + formData.image_path"
                   class="avatar">
              <i v-else
                 class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item label="上传营业执照">
            <el-upload class="avatar-uploader"
                       :action="baseUrl + '/v1/addimg/shop'"
                       :show-file-list="false"
                       :on-success="handleBusinessAvatarScucess"
                       :before-upload="beforeAvatarUpload">
              <img v-if="formData.business_license_image"
                   :src="baseImgPath + formData.business_license_image"
                   class="avatar">
              <i v-else
                 class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item label="上传餐饮服务许可证">
            <el-upload class="avatar-uploader"
                       :action="baseUrl + '/v1/addimg/shop'"
                       :show-file-list="false"
                       :on-success="handleServiceAvatarScucess"
                       :before-upload="beforeAvatarUpload">
              <img v-if="formData.catering_service_license_image"
                   :src="baseImgPath + formData.catering_service_license_image"
                   class="avatar">
              <i v-else
                 class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item label="优惠活动">
            <el-select v-model="activityValue"
                       @change="selectActivity"
                       :placeholder="activityValue">
              <el-option v-for="item in options"
                         :key="item.value"
                         :label="item.label"
                         :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-table :data="activities"
                    style="min-width: 600px;margin-bottom: 20px;"
                    align="cneter"
                    :row-class-name="tableRowClassName">
            <el-table-column prop="icon_name"
                             label="活动标题"
                             align="cneter"
                             width="120">
            </el-table-column>
            <el-table-column prop="name"
                             label="活动名称"
                             align="cneter"
                             width="120">
            </el-table-column>
            <el-table-column prop="description"
                             align="cneter"
                             label="活动详情">
            </el-table-column>
            <el-table-column label="操作"
                             width="120">
              <template slot-scope="scope">
                <el-button size="small"
                           type="danger"
                           @click="handleDelete(scope.$index)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-form-item class="button_submit">
            <el-button type="primary"
                       @click="submitForm('formData')">立即创建</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>-->
  </div>
</template>

<script>
import headTop from "@/components/headTop";
import { cityGuess, addShop, searchplace, foodCategory } from "@/api/getData";
import { baseUrl, baseImgPath } from "@/config/env";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
const touchMap = new WeakMap();
export default {
  validations: {
    form: {
      name: {
        required
      }, //店铺名称
      address: {
        required
      }, //地址
      latitude: {},
      longitude: {},
      description: {}, //介绍
      phone: {
        required
      },
      promotion_info: {},
      float_delivery_fee: {}, //运费
      float_minimum_order_amount: {}, //起价
      is_premium: {},
      delivery_mode: {},
      new: {},
      bao: {},
      zhun: {},
      piao: {},
      startTime: {},
      endTime: {},
      image_path: {},
      business_license_image: {},
      catering_service_license_image: {}
    }
  },
  data() {
    return {
      form: {
        name: "", //店铺名称
        address: "", //地址
        latitude: "",
        longitude: "",
        description: "", //介绍
        phone: "",
        promotion_info: "",
        float_delivery_fee: 5, //运费
        float_minimum_order_amount: 20, //起价
        is_premium: true,
        delivery_mode: true,
        new: true,
        bao: true,
        zhun: true,
        piao: true,
        startTime: "",
        endTime: "",
        image_path: "",
        business_license_image: "",
        catering_service_license_image: ""
      },
      options: [
        {
          value: "满减优惠",
          label: "满减优惠"
        },
        {
          value: "优惠大酬宾",
          label: "优惠大酬宾"
        },
        {
          value: "新用户立减",
          label: "新用户立减"
        },
        {
          value: "进店领券",
          label: "进店领券"
        }
      ],
      activityValue: "满减优惠",
      activities: [
        {
          icon_name: "减",
          name: "满减优惠",
          description: "满30减5，满60减8"
        }
      ],
      baseUrl,
      baseImgPath,
      categoryOptions: [],
      selectedCategory: ["快餐便当", "简餐"]
    };
  },
  components: {
    headTop
  },
  mounted() {
    // this.initData();
  },
  methods: {
    async initData() {
      try {
        this.city = await cityGuess();
        const categories = await foodCategory();
        categories.forEach(item => {
          if (item.sub_categories.length) {
            const addnew = {
              value: item.name,
              label: item.name,
              children: []
            };
            item.sub_categories.forEach((subitem, index) => {
              if (index == 0) {
                return;
              }
              addnew.children.push({
                value: subitem.name,
                label: subitem.name
              });
            });
            this.categoryOptions.push(addnew);
          }
        });
      } catch (err) {
        console.log(err);
      }
    },

    async addShop() {
      if (this.$v.$error) {
        alert("please input correct info");
        return;
      }

      Object.assign(
        this.form,
        { activities: this.activities },
        {
          category: this.selectedCategory.join("/")
        }
      );

      const res = await addShop(this.form);
      if (200 !== res.code) {
        alert("add error");
        return;
      }
    }
  }
};
</script>

<style lang="scss">
.button_submit {
  text-align: center;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #20a0ff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.avatar {
  width: 120px;
  height: 120px;
  display: block;
}
.el-table .info-row {
  background: #c9e5f5;
}

.el-table .positive-row {
  background: #e2f0e4;
}
</style>
