<template>
  <div class="df jcc">
    <md-card style="width:320px;margin-bottom:15px;">
      <md-card-header>
        <md-avatar style="position:relative;">
          <img :src="avatar" alt="Avatar">
          <input style="position:absolute;left:0;opacity:0;" type="file" @change="onChangeFile($event)">
        </md-avatar>

      </md-card-header>

      <md-card-content>
        <md-list class="panel-info">
          <md-list-item class="i">
            <div class="l">姓名 :</div>
            <span class="md-list-item-text">{{user.info.user_name}}</span>
          </md-list-item>
          <md-list-item class="i">
            <div class="l">管理员权限 :</div>
            <span class="md-list-item-text">{{user.info.admin}}</span>
          </md-list-item>

          <md-list-item class="i">
            <div class="l">管理员 id :</div>
            <span class="md-list-item-text">{{user.info.admin}}</span>
          </md-list-item>

        </md-list>
      </md-card-content>
    </md-card>
  </div>
  <!-- <md-card>
    <md-card-header>
      管理员信息
    </md-card-header>
    <md-card-content>
      <md-card-header-text>
        <div class="md-title">姓名</div>
        <div class="md-subhead">
          {{adminInfo.user_name}}
        </div>
      </md-card-header-text>
      <md-card-header-text>
        <div class="md-title">管理员权限</div>
        <div class="md-subhead">
          {{adminInfo.admin}}
        </div>
      </md-card-header-text>
      <md-card-header-text>
        <div class="md-title">管理员 ID</div>
        <div class="md-subhead">
          {{adminInfo.id}}
        </div>
      </md-card-header-text>
      <md-card-header-text>
        <div class="md-title">姓名</div>
        <div class="md-subhead">
          {{adminInfo.user_name}}
        </div>
      </md-card-header-text>

      <md-card-media>
        <img :src="avatar"
             alt="Avatar">
        <md-field>
          <md-file @md-change="onChangeFile($event)"
                   placeholder="请选择头像" />
        </md-field>
      </md-card-media>

    </md-card-content>

  </md-card> -->
</template>

<script>
import headTop from "../components/headTop";
import { mapState } from "vuex";
import { upload } from "@/api/getData";

export default {
  data() {
    return {
      avatar: "https://vuematerial.io/assets/examples/avatar.png"
    };
  },
  components: {
    headTop
  },
  computed: {
    ...mapState(["user"])
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      // this.findUser();
    },
    async onChangeFile(e) {
      const files = e.target.files;
      const file = files[0];
      const isRightType =
        file.type === "image/jpeg" || file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isRightType) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
        return;
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
        return;
      }
      const data = new FormData();
      data.append("file", file);
      const res = await upload(data, String(Math.random()).slice(2, -1));
      this.avatar = res.data.url;
    }
  }
};
</script>

<style lang="scss">
.panel-info {
  .i {
    .l {
      width: 90px;
      margin-right: 25px;
      text-align-last: justify;
    }
  }
}
</style>
