<template>
  <md-card>
    <md-card-content>第一次登录的用户自动注册成为普通管理员</md-card-content>
    <md-card-content>普通管理员可以添加，修改信息</md-card-content>
    <md-card-content>超级管理员可以删除信息</md-card-content>
  </md-card>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss">
</style>
