<template>
  <div class="panel-login df aic jcc"
       style="height:100%;widht:100%">

    <md-card style="width:320px">

      <md-card-header>
        <div class="md-title">后台管理系统</div>
      </md-card-header>

      <md-card-content>
        <md-field :class="{'md-invalid':$v.form.username.$error}">
          <label>用户名</label>
          <md-input v-model="$v.form.username.$model"></md-input>
          <div class="md-error"
               v-if="$v.form.username.$dirty && !$v.form.username.required">必须输入</div>
          <div class="md-error"
               v-if="$v.form.username.$dirty && !$v.form.username.minLength">fffffmin</div>
        </md-field>

        <md-field>
          <label>密码</label>
          <md-input :class="{'md-invalid':$v.form.password.$error}"
                    v-model="$v.form.password.$model"
                    required></md-input>
          <div class="md-error"
               v-if="$v.form.username.$dirty && !$v.form.username.required">必须输入</div>
          <div class="md-error"
               v-if="$v.form.username.$dirty && !$v.form.username.minLength">fffffmin</div>
        </md-field>
      </md-card-content>
      <md-card-actions>
        <md-button @click="login()">登陆</md-button>
      </md-card-actions>
    </md-card>

  </div>

</template>

<script>
import { login, getAdminInfo } from '@/api/getData';
import { mapActions, mapState } from 'vuex';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
const touchMap = new WeakMap();

export default {
  validations: {
    form: {
      username: {
        required,
        minLength: minLength(5),
      },
      password: {
        required,
        minLength: minLength(5),
      },
    },
  },
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
    };
  },
  mounted() {},
  computed: {},
  methods: {
    async login(){
      if(this.$v.$error){
        this.$notify.error({
          title: '错误',
          message: '请输入正确的用户名密码',
          offset: 100,
        });
        return false;
      }
      const res = await this.$store.dispatch('user/login',{ user_name: this.form.username, password: this.form.password });
      if(200 !== res.code){
              this.$message({
            type: 'error',
            message: res.message,
          });
        return false;
      }
     this.$message({
            type: 'success',
            message: '登录成功',
          });
          this.$router.push('my');

    },
    async submitForm() {
      if (!this.$v.$error) {
        const res = await login({ user_name: this.form.username, password: this.form.password });
        if (res.code === 200) {
          this.$message({
            type: 'success',
            message: '登录成功',
          });
          this.$router.push('manage');
        } else {
          this.$message({
            type: 'error',
            message: res.message,
          });
        }
      } else {
        this.$notify.error({
          title: '错误',
          message: '请输入正确的用户名密码',
          offset: 100,
        });
        return false;
      }
    },
  },
  watch: {},
};
</script>

<style lang="scss" scoped>
</style>
