<template>
  <div class="page-container md-layout-column">
    <md-progress-bar md-mode="indeterminate"></md-progress-bar>
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button"
                 @click="showNavigation = true">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">管理员中心</span>
    </md-toolbar>

    <md-drawer style="cursor:pointer"
               :md-active.sync="showNavigation">
      <md-toolbar class="md-transparent"
                  md-elevation="0">
        <span class="md-title"
              @click="onClickMenu({path:'my',query:{}})">Admin</span>
      </md-toolbar>

      <md-list>

        <md-list-item v-for="(item,index) in lists"
                      :key="index">
          <md-menu md-size="medium"
                   :md-offset-x="127"
                   :md-offset-y="-36">
            <md-button md-menu-trigger
                       @click="onClickMenu(item)">
              {{item.text}}
            </md-button>
            <md-menu-content v-if="item.children && item.children.length">
              <md-menu-item @click="onClickMenu(it)"
                            v-for="(it,i) in item.children"
                            :key="i">{{it.text}}</md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-list-item>
      </md-list>
    </md-drawer>

    <md-content style="margin:15px">
      <md-chip style="margin:5px;"
               v-for="(item, index) in $route.meta"
               :key="index">{{item}}</md-chip>
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </md-content>
  </div>
</template>

<script>
export default {
  name: 'Temporary',
  data: () => ({
    showNavigation: false,
    showSidepanel: false,
    lists: [
      {
        path: '',
        query: {},
        text: '数据管理',
        children: [
          {
            path: 'userList',
            query: {},
            text: '用户列表',
          },
          {
            path: 'shopList',
            query: {},
            text: '商家列表',
          },
          {
            path: 'foodList',
            query: {},
            text: '食品列表',
          },
          {
            path: 'orderList',
            query: {},
            text: '订单列表',
          },
          {
            path: 'adminList',
            query: {},
            text: '管理员列表',
          },
        ],
      },
      {
        path: '',
        query: {},
        text: '添加商品',
        children: [
          {
            path: 'addShop',
            query: {},
            text: '添加商铺',
          },
          {
            path: 'addGoods',
            query: {},
            text: '添加商品',
          },
        ],
      },
      {
        path: 'visitor',
        query: {},
        text: '用户分布',
      },
      {
        path: 'vueEdit',
        query: {},
        text: '文本编辑',
      },
      {
        path: 'adminSet',
        query: {},
        text: '管理员设置',
      },
      {
        path: 'explain',
        query: {},
        text: '说明',
      },
    ],
  }),
  methods: {
    onClickMenu(item) {
      if (!!item.path) {
        this.showNavigation = false;
        this.$router.push({ path: item.path, query: item.query });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>