<template>
  <div>
    <div class="panel-shoplists">
      <md-card>
        <md-card-content>
          <md-table v-model="shopLists" md-sort="name" md-sort-order="asc" md-fixed-header>
            <md-table-toolbar>
              <div class="md-toolbar-section-start">
                <h1 class="md-title">shop lists</h1>
              </div>

              <md-field md-clearable class="md-toolbar-section-end">
                <md-input placeholder="Search by name..." v-model="search" />
              </md-field>
            </md-table-toolbar>

            <md-table-empty-state md-label="No data found">

            </md-table-empty-state>

            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
              <md-table-cell md-label="店铺名称" md-sort-by="name">{{ item.name }}</md-table-cell>
              <md-table-cell md-label="店铺地址" md-sort-by="address">{{ item.address }}</md-table-cell>
              <md-table-cell md-label="店铺介绍" md-sort-by="description">{{ item.description }}</md-table-cell>
              <md-table-cell md-label="联系电话" md-sort-by="phone">{{ item.phone }}</md-table-cell>
              <md-table-cell md-label="评分" md-sort-by="rating">{{ item.rating }}</md-table-cell>
              <md-table-cell md-label="销售量" md-sort-by="recent_order_num">{{ item.recent_order_num }}</md-table-cell>
              <md-table-cell md-label="分类" md-sort-by="category">{{ item.category }}</md-table-cell>
              <md-table-cell md-label="销售量" md-sort-by="recent_order_num">{{ item.recent_order_num }}</md-table-cell>
              <md-table-cell md-label="操作">
                <md-menu md-size="medium" md-align-trigger>
                  <md-button md-menu-trigger>操作</md-button>
                  <md-menu-content>
                    <md-menu-item @click="onSave()">编辑</md-menu-item>
                    <md-menu-item @click="addItem()">添加食品</md-menu-item>
                    <md-menu-item @click="delItem()">删除</md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
        <EhPagination :page-count="20" :click-handler="onChange" />
      </md-card>
    </div>
  </div>
</template>

<script>
import headTop from "../components/headTop";
import { baseUrl, baseImgPath } from "@/config/env";
import EhPagination from "@/components/EhPagination";
import { mapState, mapAction } from "vuex";
import {
  cityGuess,
  getResturants,
  getResturantsCount,
  foodCategory,
  updateResturant,
  searchplace,
  deleteResturant
} from "@/api/getData";

export default {
  data() {
    return {
      search: null
    };
  },
  created() {},
  mounted() {
    this.init();
  },
  components: {
    EhPagination
  },
  computed: {
    ...mapState(["shop"]),
    shopLists() {
      return this.shop.shopLists.concat().filter(d => {
        let ret = d.name.toString().toLowerCase();

        if (!!this.search) {
          ret = ret.includes(this.search.toString().toLowerCase());
        }

        return ret;
      });
    }
  },
  methods: {
    async init() {
      await this.initLists();
    },
    async initLists(p = 1, pSize = 10) {
      const res = await this.$store.dispatch("shop/selectShop", {
        p,
        pSize
      });
    },
    onChange(p) {
      this.initLists(p);
    },
    async getCategory() {
      try {
        const categories = await foodCategory();
        categories.forEach(item => {
          if (item.sub_categories.length) {
            const addnew = {
              value: item.name,
              label: item.name,
              children: []
            };
            item.sub_categories.forEach((subitem, index) => {
              if (index == 0) {
                return;
              }
              addnew.children.push({
                value: subitem.name,
                label: subitem.name
              });
            });
            this.categoryOptions.push(addnew);
          }
        });
      } catch (err) {
        console.log("获取商铺种类失败", err);
      }
    },
    onSave(index, row) {
      this.selectTable = row;
      this.address.address = row.address;
      this.dialogFormVisible = true;
      this.selectedCategory = row.category.split("/");
      if (!this.categoryOptions.length) {
        this.getCategory();
      }
    },
    addItem(index, row) {
      this.$router.push({ path: "addGoods", query: { restaurant_id: row.id } });
    },
    async delItem(index, row) {
      try {
        const res = await deleteResturant(row.id);
        if (res.status == 1) {
          this.$message({
            type: "success",
            message: "删除店铺成功"
          });
          this.tableData.splice(index, 1);
        } else {
          throw new Error(res.message);
        }
      } catch (err) {
        this.$message({
          type: "error",
          message: err.message
        });
        console.log("删除店铺失败");
      }
    },
    async querySearchAsync(queryString, cb) {
      if (queryString) {
        try {
          const cityList = await searchplace(this.city.id, queryString);
          if (cityList instanceof Array) {
            cityList.map(item => {
              item.value = item.address;
              return item;
            });
            cb(cityList);
          }
        } catch (err) {
          console.log(err);
        }
      }
    },
    addressSelect(vale) {
      const { address, latitude, longitude } = vale;
      this.address = { address, latitude, longitude };
    },
    handleServiceAvatarScucess(res, file) {
      if (res.status == 1) {
        this.selectTable.image_path = res.image_path;
      } else {
        this.$message.error("上传图片失败！");
      }
    },
    beforeAvatarUpload(file) {
      const isRightType =
        file.type === "image/jpeg" || file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isRightType) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isRightType && isLt2M;
    },
    async updateShop() {
      this.dialogFormVisible = false;
      try {
        Object.assign(this.selectTable, this.address);
        this.selectTable.category = this.selectedCategory.join("/");
        const res = await updateResturant(this.selectTable);
        if (res.status == 1) {
          this.$message({
            type: "success",
            message: "更新店铺信息成功"
          });
          this.getResturants();
        } else {
          this.$message({
            type: "error",
            message: res.message
          });
        }
      } catch (err) {
        console.log("更新餐馆信息失败", err);
      }
    }
  }
};
</script>

<style lang="scss">
</style>
