<template>
  <md-table v-model="lists"
            md-sort="name"
            md-sort-order="asc"
            md-card
            md-fixed-header>
    <md-table-toolbar>
      <div class="md-toolbar-section-start">
        <h1 class="md-title">Users</h1>
      </div>

      <md-field md-clearable
                class="md-toolbar-section-end">
        <md-input placeholder="Search by name..."
                  v-model="search"
                  @input="onSearch" />
      </md-field>
    </md-table-toolbar>

    <md-table-empty-state md-label="No data found">

    </md-table-empty-state>

    <md-table-row slot="md-table-row"
                  slot-scope="{ item }">
      <md-table-cell md-label="ID"
                     md-sort-by="id"
                     md-numeric>{{ item.id }}</md-table-cell>
      <md-table-cell md-label="用户名"
                     md-sort-by="username">{{ item.username }}</md-table-cell>
      <md-table-cell md-label="注册日期"
                     md-sort-by="createTime">{{ item.createTime }}</md-table-cell>
      <md-table-cell md-label="注册地址"
                     md-sort-by="city">{{ item.city }}</md-table-cell>

    </md-table-row>
  </md-table>

</template>

<script>
import { selectUser, getUserCount } from '@/api/getData';
const toLower = text => {
  return text.toString().toLowerCase();
};

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.username).includes(toLower(term)));
  }

  return items;
};
export default {
  data() {
    return {
      search: null,
      lists: [],
    };
  },
  components: {},
  created() {},
  mounted() {
    this.initLists();
  },
  methods: {
    onSearch() {
      this.lists = searchByName(this.users, this.search);
    },
    async initLists() {
      const res = await selectUser({ offset: 1, limit: 9 });
      this.lists = res.data;
    },
  },
};
</script>

<style lang="scss">
</style>
