<template>
  <md-card class="panel-editor">
    <md-card-header>
      <div class="md-title">文本编辑</div>
    </md-card-header>
    <md-card-content>
      <quill-editor v-model="content" ref="editor" :options="editorOption" @ready="onEditorReady($event)">
      </quill-editor>
    </md-card-content>
  </md-card>
</template>

<script>
import headTop from "../components/headTop";
import { quillEditor } from "vue-quill-editor";
//demo
// https://surmon-china.github.io/vue-quill-editor/
export default {
  data() {
    return {
      content: "<h3>文本编辑</h3>",
      editorOption: {}
    };
  },
  components: {
    headTop,
    quillEditor
  },
  computed: {
    editor() {
      return this.$refs.editor.quill;
    }
  },
  methods: {
    onEditorReady(editor) {
      console.log("editor ready!", editor);
    },
    submit() {
      console.log(this.content);
      this.$message.success("提交成功！");
    }
  }
};
</script>

<style lang="scss">
.panel-editor {
  /deep/ .ql-container {
    height: calc(100vh - 300px);
  }
}
</style>
