<template>
  <paginate v-bind="$attrs" v-model="page" :prev-text="'<'" :next-text="'>'" :active-class="'on'" :container-class="'pagination'" :page-class="'page-item'">
  </paginate>
</template>

<script>
export default {
  data() {
    return {
      page: 1
    };
  }
};
</script>

<style lang="scss">
.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px;
  /deep/ .on {
    background: #448aff;
  }
  /deep/ .on a {
    color: white !important;
  }
  /deep/ a:focus {
    outline: none;
  }
  /deep/ li {
    width: 30px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 5px;
    padding: 0 4px;
    border-radius: 2px;
    background-color: #f4f4f5;
  }
  /deep/ li a {
    color: #606266 !important;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
  }
}
.page-item {
  padding: 0 10px;
  margin-left: -1px;
  outline: none;
}
</style>
